[Unit]
Description=Stock Overview web application

[Service]
ExecStart=julia "APP"
User=USER
WorkingDirectory=DIR
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
ProtectSystem=strict

